<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eat-da-burger</title>
  <img src = "../../assets/img/burger.png" />
	<link rel="icon" href="../../assets/img/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/burger_style.css">
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>Eat Da Burger!</h1>
		{{{ body }}}
		<div>
			<textarea rows="4" cols="50"></textarea>
		</div>
		<div class="submit-btn">
			<button type="submit" class="btn btn-primary btn-lg btn-block" id="submit">Submit</button>
		</div>
	</div>
</body>
</html>
